*{margin: 0;padding: 0;list-style: none;}
img {border: 0;max-width: 100%;}
.gradeMenu{background: url("../images/bg11_02.jpg") no-repeat center;background-size: contain;width: 100%;height: 1.02rem;overflow: hidden;}
.gradeMenu ul{width: 80%;margin: .15rem auto;}
.gradeMenu ul li{width: 1.7rem;height: .5rem;text-align: center;line-height: .5rem;color:#fff;float:left;font-size: .3rem;}
.gradeMenu ul .active{background: #fff;border-radius: .25rem;color:#eb7232;border-bottom: .04rem solid #b7e0fd;}
.gradeCon .swiper-button-next,.gradeCon .swiper-button-prev{width: .65rem;height: 1.18rem;background-color: #eff7ff;top: 40%;
    border-radius: .4rem;background-size: .3rem;}
.gradeCon .swiper-container{display: none;}
.gradeCon .active{display: block;}
.teachers .swiper-pagination-bullet{background: #fff;width: .12rem;height: .12rem;opacity: 1;}
.teachers .swiper-pagination-bullet-active{background: #1d70d8;width: .28rem;border-radius: .25rem;}
